* {
    box-sizing: border-box;
    margin: 0px;
    font-family: inherit;
    z-index: inherit;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

/* Style heading 1 elements */
h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

/* Style heading 2 elements */
h2 {
    font-size: 1.7em;
    margin-bottom: 0.3em;
}

/* Style heading 3 elements */
h3 {
    font-size: 1.2em;
    margin-bottom: 0.25em;
}

/* Style paragraph elements */
p, ul {
    margin-bottom: 0.9em;
}