:root {
  color-scheme: light;

  --color-primary: #007da0;
  --color-secondary: #48cae4;

  --color-text-main: #000000;
  --color-text-button: #ffffff;

  --color-background-main: #e4edf3;
  --color-background-surface-1: #ffffff;
  --color-background-surface-2: #e8e8e8;

  --color-background-nav-bar: #000000;
  --color-background-nav-menu: #004b69;
  --color-text-nav: #ffffff;
  --color-accent-nav: #48cae4;

  --color-shadow: rgba(0, 75, 105, 0.1);

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;

    --color-primary: #48cae4;
    --color-secondary: #007da0;

    --color-text-main: #ffffff;
    --color-text-button: #000000;

    --color-background-main: #092229;
    --color-background-surface-1: #1a414d;
    --color-background-surface-2: #3b6774;

    --color-background-nav-bar: #000000;
    --color-background-nav-menu: #004b69;
    --color-text-nav: #ffffff;
    --color-accent-nav: #48cae4;

    --color-shadow: rgba(0, 0, 0, 0.2);
  }
}
