.logoContainer {
  --color-interaction: var(--color-primary);

  border: none;
  background: none;
  color: inherit;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5rem 1rem;

  transition: color 250ms ease;
}

a.logoContainer,
button.logoContainer {
  cursor: pointer;
}

.logoContainer.stacked {
  flex-direction: column;
}

a.logoContainer {
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
  a.logoContainer:hover,
  button.logoContainer:hover {
    color: var(--color-interaction);
  }
}

a.logoContainer:focus-visible,
button.logoContainer:focus-visible {
  color: var(--color-interaction);
}

.logoContainer p {
  color: inherit;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  white-space: nowrap;

  /* If not stacked, hide logo text on extra small screens */
  display: none;
}

@media (min-width: 320px) {
  .logoContainer p {
    display: block;
  }
}

.logoContainer.stacked p {
  display: block;
}
