.button {
    --color-background: var(--color-primary);
    --color-text: var(--color-text-button);
    --color-background-interaction: var(--color-text-main);
    --color-text-interaction: var(--color-text-button);

    cursor: pointer;
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-background);
    color: var(--color-text);
    border: none;

    transition:
        color 250ms ease,
        background-color 250ms ease,
        transform 250ms ease,
        box-shadow 250ms ease,
        opacity 250ms ease;
}
.button:not(.transparent) {
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    box-shadow:
        0 0.1em 0.15em 0 var(--color-shadow),
        0 0.1em 0.6em 0 var(--color-shadow);
}
.button.transparent {
    -webkit-tap-highlight-color: transparent;
}

.button.transparent {
    --color-background: transparent;
    --color-text: inherit;
    --color-background-interaction: transparent;
    --color-text-interaction: var(--color-primary);
}

.button.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: inherit;
    padding: 0.875rem;
}
.button:not(.transparent).icon {
    border-radius: 50%;
}

.button.icon svg {
    height: 1em;
    width: 1em;
}

@media (hover: hover) and (pointer: fine) {
    .button:not(:disabled):hover {
        background-color: var(--color-background-interaction);
        color: var(--color-text-interaction);
    }
    .button:not(:disabled):not(.transparent):hover {
        box-shadow:
            0 0.1em 0.2em 0 var(--color-shadow),
            0 0.3em 0.6em 0 var(--color-shadow);
        transform: scale(1.05);
    }
}

.button:not(:disabled):focus-visible {
    background-color: var(--color-background-interaction);
    color: var(--color-text-interaction);
}
.button:not(:disabled):not(.transparent):focus-visible {
    box-shadow:
        0 0.1em 0.2em 0 var(--color-shadow),
        0 0.3em 0.6em 0 var(--color-shadow);
    transform: scale(1.05);
}

.button:not(:disabled):active {
    background-color: var(--color-background-interaction);
    color: var(--color-text-interaction);
}
.button:not(:disabled):not(.transparent):active {
    box-shadow:
        0 0.1em 0.15em 0 var(--color-shadow),
        0 0.1em 0.6em 0 var(--color-shadow);
    transform: scale(0.95);
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
