.overlay-card {
    position: relative;
    transition: all 0.3s ease 0s;
    min-height: 150px;
}

@media(hover: hover) and (pointer: fine) {
    .overlay-card:hover {
        transform: scale(1.01);
        cursor: pointer;
    }
}

.overlay-card .header {
    background-color: var(--dark-color);
    height: 400px;
    width: 100%;
    position: relative;
}

.overlay-card .header-text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 30px;
    max-width: 100%;
    color: var(--light-color);
    text-shadow: 2px 2px 6px black;
}

.overlay-card img.background {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(45%);
}

.overlay-card img.logo {
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.overlay-card .overlay {
    position: absolute;
    top: 0px;
    height: 0px;
    width: 100%;
    overflow: hidden;
    background-color: var(--light-color);
    color: var(--dark-color);
    transition: height 0.4s ease;
}