.modal-card {
    position: relative;
    height: 350px;
    width: 100%;
    padding: 30px;
    color: var(--light-color);
    text-shadow: 2px 2px 6px black;
    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

@media(hover: hover) and (pointer: fine) {
    .modal-card:hover {
        transform: scale(1.01);
        cursor: pointer;
    }
}

.modal-card img.background {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: inherit;
    width: inherit;
    object-fit: cover;
    filter: brightness(45%);
    z-index: -1;
}

.modal-card img.logo {
    height: 40px;
    display: block;
}