.navMenu {
    will-change: translate;

    position: fixed;
    top: var(--nav-height);
    right: 0;
    z-index: 9;
    overflow-y: auto;

    width: 80%;
    height: calc(100% - var(--nav-height));

    background-color: var(--background-nav-menu);
    color: var(--text-nav-menu);
}

.navMenu a {
    text-decoration: none;
    padding: 0.75rem;
}

.navMenu a:focus-visible,
.navMenu a:active {
    color: var(--text-nav-menu-action);
}

@media (hover: hover) and (pointer: fine) {
    .navMenu a:hover {
        color: var(--text-nav-menu-action);
    }
}

.navMenuItems {
    padding: 2.5rem;
    min-height: 100%;
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
