footer {
    padding: 40px;
    width: 100%;
    background-color: var(--dark-color);
    color: var(--light-color);
    text-align: center;
}

footer * {
    margin: 0px;
}

footer .social-button-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 175px;
    max-width: 100%;
    padding: 30px 0px;
    font-size: 22px;
}

footer .heading {
    margin: auto;
    width: 175px;
}

footer img {
    height: 40px;
    filter: invert();
    transition: all 0.2s linear 0s;
}

footer h1 {
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    transition: all 0.2s ease 0s;
}

footer p {
    font-size: 12px;
    text-align: center;
}

footer p a:active {
    color: var(--highlight-color);
}

@media(hover: hover) and (pointer: fine) {
    footer .heading:hover a img {
        /* CSS filter generator: https://codepen.io/sosuke/pen/Pjoqqp */
        filter: invert(98%) sepia(55%) saturate(1682%) hue-rotate(147deg) brightness(98%) contrast(107%);
        transform: scale(1.1);
    }

    footer .heading:hover a h1 {
        color: var(--highlight-color);
    }
}