footer {
    padding: 40px;
    width: 100%;
    background-color: var(--dark-color);
    color: var(--light-color);
    text-align: center;
}

footer * {
    margin: 0px;
}

footer .heading {
    margin: auto;
    width: 175px;
}

footer h1 {
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    transition: all 0.3s ease 0s;
}

footer a {
    text-decoration: none;
}

footer p {
    font-size: 12px;
    text-align: center;
}

@media(hover: hover) and (pointer: fine) {
    footer .heading:hover {
        cursor: pointer;
    }

    footer .heading:hover a h1 {
        color: var(--highlight-color);
    }

    footer .heading:hover a .app-logo {
        color: var(--highlight-color);
        transform: scale(1.1);
    }
}

footer button {
    color: var(--dark-color);
    background-color: var(--light-color);
}

footer .social-button-container {
    margin: 30px auto;
}