footer {
    padding: 40px;
    width: 100%;
    background-color: var(--dark-color);
    color: var(--light-color);
    text-align: center;
}

footer * {
    margin: 0px;
}

footer .heading {
    margin: auto;
    width: 175px;
}

footer img {
    height: 40px;
    filter: invert();
    transition: all 0.2s linear 0s;
}

footer h1 {
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    transition: all 0.2s ease 0s;
}

footer p {
    font-size: 12px;
    text-align: center;
}

footer p a:active {
    color: var(--highlight-color);
}

@media(hover: hover) and (pointer: fine) {
    footer .heading:hover a img {
        filter: var(--highlight-filter);
        transform: scale(1.1);
    }

    footer .heading:hover a h1 {
        color: var(--highlight-color);
    }
}

footer .heading:active a img {
    transform: scale(0.975);
}

footer .social-button-container {
    margin: 30px auto;
}