/* Base formatting for the navigation bar */
nav {
    margin: 0px;
    padding: 15px 5px;
    box-sizing: border-box;
    top: 0px;
    overflow: auto;
    position: sticky;
    z-index: 1;
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* Base formatting for all navbar tabs */
nav a {
    text-decoration: none;
    padding: 5px 15px;
    transition: all 0.2s linear 0s;
}

nav img {
    height: 40px;
    filter: invert();
    transition: all 0.2s linear 0s;
}

@media(hover: hover) and (pointer: fine) {
    nav a img:hover {
        /* CSS filter generator: https://codepen.io/sosuke/pen/Pjoqqp */
        filter: invert(98%) sepia(55%) saturate(1682%) hue-rotate(147deg) brightness(98%) contrast(107%);
    }
}

/* For small screens, hide the navbar tabs (the menu button will be shown instead) */
nav .nav-tabs {
    display: none;
}

nav .nav-tabs.show {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 100%;
}

nav .nav-heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

nav .nav-menu {
    cursor: pointer;
}

/* For large screens, show the full navbar instead of the menu button */
@media screen and (min-width: 750px) {
    nav .nav-menu {
        display: none;
    }

    nav .nav-tabs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: baseline;
        width: auto;
    }

    nav .nav-tabs.show {
        display: flex;
        flex-direction: row;
        width: auto;
    }
}

nav h1 {
    font-size: 26px;
    font-weight: normal;
    margin: 0px;
}