.navbar {
    margin: 0px;
    padding: 0px;
    top: 0px;
    width: 100%;
    overflow: auto;
    position: sticky;
    background-color: rgb(36, 36, 36);
}

.navbar a {
    float: right;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0px;
    padding: 15px 15px;
    transition-duration: 0.2s;
}

.navbar a:hover {
    color: rgb(120, 255, 255);
    transition-duration: 0.2s;
}

.navbar svg {
    float: left;
    padding: 15px 15px;
    height: 40px;
}

.navbar h1 {
    float: left;
    color: white;
    font-weight: normal;
    margin: 0px;
}