/* Base formatting for the navigation bar */
nav {
    margin: 0px;
    padding: 15px;
    box-sizing: border-box;
    top: 0px;
    position: sticky;
    z-index: 1;
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}

/* Base formatting for all navbar tabs */
nav a {
    text-decoration: none;
    padding: 5px 15px;
    transition: all 0.2s linear 0s;
}

nav a:active {
    color: var(--highlight-color);
}

nav img {
    height: 40px;
    filter: invert();
    transition: all 0.2s linear 0s;
}

@media(hover: hover) and (pointer: fine) {
    nav a:hover {
        color: var(--highlight-color);
        cursor: pointer;
    }

    nav a img:hover {
        /* CSS filter generator: https://codepen.io/sosuke/pen/Pjoqqp */
        filter: invert(98%) sepia(55%) saturate(1682%) hue-rotate(147deg) brightness(98%) contrast(107%);
        transform: scale(1.1);
    }
}

nav .nav-menu-button {
    display: none;
}

nav .nav-tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    width: auto;
}

/* For small screens, show the menu button instead of all tabs */
@media screen and (max-width: 800px) {
    nav .nav-tabs {
        display: none;
        flex-direction: column;
        align-items: flex-end; /* right align */
        width: 100%;
    }

    nav .nav-menu-button {
        display: block;
    }
}

nav .nav-heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

nav h1 {
    font-size: 26px;
    font-weight: normal;
    margin: 0px;
}