.nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  grid-area: nav;
}

.navbar,
.spacer {
  height: var(--nav-height);
  width: 100%;
}

.navbar {
  padding: 1rem 7.5%;

  background-color: var(--color-background-nav-bar);
  color: var(--color-text-nav);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 920px) {
  .navbar {
    padding: 1rem 2.5rem;
  }
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover,
.navbar a:focus-visible,
.navbar a:active {
  color: var(--color-accent-nav);
}

.tabs {
  display: none;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 920px) {
  .tabs {
    display: flex;
  }
}

.menuButton {
  display: block;
}

@media (min-width: 920px) {
  .menuButton {
    display: none;
  }
}
