/* Base formatting for the navigation bar */
nav {
    margin: 0px;
    padding: 15px;
    top: 0px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}

/* Base formatting for all navbar tabs */
nav a {
    text-decoration: none;
    margin: 5px 12px;
    transition: all 0.3s ease 0s;
}

/* Change the navbar tab color when it is being clicked or tapped */
nav a:active {
    color: var(--highlight-color);
}

nav img {
    height: 40px;
    filter: invert();
    transition: all 0.3s ease 0s;
}

@media(hover: hover) and (pointer: fine) {
    /* Change the navbar tab color when it is being hovered over with a mouse */
    nav a:hover {
        color: var(--highlight-color);
        cursor: pointer;
    }

    /* Change the navbar image color when it is being hovered over with a mouse */
    nav a img:hover {
        filter: var(--highlight-filter);
        transform: scale(1.1);
    }
}

nav a img:active {
    transform: scale(0.975);
}

/* On large screens, do not display the menu button on the navbar */
nav .nav-menu-button {
    display: none;
}

/* Style the container that holds all navbar tabs */
nav .nav-tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    width: auto;
    height: auto;
    overflow: hidden;
}

/* For small screens, show the menu button instead of all tabs */
@media screen and (max-width: 800px) {
    nav .nav-tabs {
        height: 0; /* hidden by default */
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; /* right align */
        width: 100%;
        transition: height 0.4s ease 0s;
    }

    nav .nav-tabs.expanded {
        height: 200px; /* expanded when the menu button is clicked */
    }

    nav .nav-menu-button {
        display: block;
    }
}

/* Style the section of the navbar containing the website logo and title */
nav .nav-heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

nav h1 {
    font-size: 26px;
    font-weight: normal;
    margin: 0px;
}