:root {
    --color-teal: #007da0;

    --color-aqua: #48cae4;
    --color-aqua-darkest: #092229;

    --color-blue-gray-light: #e4edf3;

    --color-cerulean-dark: #004b69;
    --color-cerulean-transparent-10: rgba(0, 75, 105, 0.1);
    --color-cerulean-darkest: #1a414d;
    --color-cerulean-gray-dark: #3b6774;

    --color-white: #ffffff;
    --color-gray-light: #e8e8e8;
    --color-black: #000000;
    --color-black-transparent-20: rgba(0, 0, 0, 0.2);
}

:root {
    color-scheme: light;

    --fill-primary: var(--color-teal);
    --fill-secondary: var(--color-aqua);

    --text-primary: var(--color-black);
    --text-action: var(--color-teal);
    --text-nav-bar: var(--color-white);
    --text-nav-bar-action: var(--color-aqua);
    --text-nav-menu: var(--color-white);
    --text-nav-menu-action: var(--color-aqua);
    --text-tooltip: var(--color-white);

    --background-main: var(--color-blue-gray-light);
    --background-surface-1: var(--color-white);
    --background-surface-2: var(--color-gray-light);
    --background-nav-bar: var(--color-black);
    --background-nav-menu: var(--color-cerulean-dark);
    --background-tooltip: var(--color-cerulean-gray-dark);

    --button-fill-primary: var(--color-teal);
    --button-fill-primary-interaction: var(--color-black);
    --button-text-primary: var(--color-white);
    --button-text-primary-interaction: var(--color-white);

    --button-fill-subtle: var(--color-white);
    --button-fill-subtle-interaction: var(--color-black);
    --button-text-subtle: var(--color-black);
    --button-text-subtle-interaction: var(--color-white);

    --fill-shadow: var(--color-cerulean-transparent-10);

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;

        --fill-primary: var(--color-aqua);
        --fill-secondary: var(--color-teal);

        --text-primary: var(--color-white);
        --text-action: var(--color-aqua);
        --text-nav-bar: var(--color-white);
        --text-nav-bar-action: var(--color-aqua);
        --text-nav-menu: var(--color-white);
        --text-nav-menu-action: var(--color-aqua);
        --text-tooltip: var(--color-white);

        --background-main: var(--color-aqua-darkest);
        --background-surface-1: var(--color-cerulean-darkest);
        --background-surface-2: var(--color-cerulean-gray-dark);
        --background-nav-bar: var(--color-black);
        --background-nav-menu: var(--color-cerulean-dark);
        --background-tooltip: var(--color-cerulean-gray-dark);

        --button-fill-primary: var(--color-aqua);
        --button-fill-primary-interaction: var(--color-black);
        --button-text-primary: var(--color-black);
        --button-text-primary-interaction: var(--color-white);

        --button-fill-subtle: var(--color-cerulean-darkest);
        --button-fill-subtle-interaction: var(--color-white);
        --button-text-subtle: var(--color-white);
        --button-text-subtle-interaction: var(--color-black);

        --fill-shadow: var(--color-black-transparent-20);
    }
}
