main {
    padding: 50px 0px;
}

main * {
    margin: 0px;
}

section {
    padding: 30px 10%;
}

section h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
}

section h2 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
}

section p {
    text-align: left;
    font-size: 18px;
    padding-bottom: 10px;
}

@media screen and (min-width: 800px) {
    section p {
        text-align: justify;
    }
}

a {
    color: inherit;
    transition: all 0.2s linear 0s;
}

section button {
    font-size: 16px;
    color: var(--light-color);
    background-color: var(--dark-color);
    border: none;
    padding: 5px 10px;
    transition: all 0.2s ease 0s;
}

section button:active {
    background-color: var(--accent-color);
    cursor: pointer;
}

@media(hover: hover) and (pointer: fine) {
    section a:hover {
        color: var(--accent-color);
    }

    section button:hover {
        background-color: var(--accent-color);
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
        transform: scale(1.1);
    }
}