/* Set spacing between sections */
section {
    width: var(--default-app-width);
    max-width: var(--default-app-max-width);
    margin: 60px auto;
}

/* Style heading 1 elements */
section h1 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 30px;
}

/* Style heading 2 elements */
section h2 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
}

/* Style paragraphs */
section p {
    padding-bottom: 10px;
}

/* Remove spacing from last paragraph in an element */
section p:last-child {
    padding-bottom: 0px;
}

/* Style all anchor/link elements */
a {
    color: inherit;
    transition: all 0.2s linear 0s;
}

/* Style links when they are hovered over */
@media (hover: hover) and (pointer: fine) {
    section a:hover {
        color: var(--accent-color);
    }
}

/* Style grid containers */
.grid {
    width: 100%;
    display: grid;
    grid: auto / 1fr 1fr 1fr;
    gap: 20px;
}

/* Style grid containers on medium screens */
@media screen and (max-width: 1600px) {
    .grid {
        grid: auto / 1fr 1fr;
    }
}

/* Style grid containers on small screens */
@media screen and (max-width: 900px) {
    .grid {
        grid: auto / 1fr;
    }
}

/* Style buttons */
button {
    font-size: 18px;
    color: var(--light-color);
    background-color: var(--accent-color);
    border: none;
    outline: none;
    padding: 5px 10px;
    box-shadow: 0 4px 8px 0 var(--shadow-color);
    transition: all 0.2s ease 0s;
}

/* Style buttons when they are being hovered over */
@media (hover: hover) and (pointer: fine) {
    button:hover {
        background-color: var(--dark-color);
        cursor: pointer;
        box-shadow: 0 6px 12px 0 var(--shadow-color);
        transform: scale(1.05);
    }
}

/* Style buttons when they are being clicked on */
button:active {
    transform: scale(0.95);
}

/* Style default social buttons */
button.social-button {
    padding: 0px;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.2s ease 0s;
}

/* Style default social buttons when hovered over */
@media (hover: hover) and (pointer: fine) {
    button.social-button:hover {
        transform: scale(1.1);
    }
}

/* Style default social buttons being clicked on */
button.social-button:active {
    transform: scale(0.95);
}

/* Style LinkedIn button when hovered over */
@media (hover: hover) and (pointer: fine) {
    button.fa-linkedin:hover {
        background-color: #0A66C2;
        color: white;
    }
}

/* Style LinkedIn button being clicked on */
button.fa-linkedin:active {
    background-color: #0A66C2;
    color: white;
}

/* Style GitHub button when hovered over */
@media (hover: hover) and (pointer: fine) {
    button.fa-github:hover {
        background-color: rgb(228, 228, 228);
        color: #25292E;
    }
}

/* Style GitHub button being clicked on */
button.fa-github:active {
    background-color: rgb(228, 228, 228);
    color: #25292E;
}

/* Style email button when hovered over */
@media (hover: hover) and (pointer: fine) {
    button.fa-envelope:hover {
        background-color: gray;
        color: white;
    }
}

/* Style email button being clicked on */
button.fa-envelope:active {
    background-color: gray;
    color: white;
}

/* Style a container for social buttons */
.social-button-container {
    font-size: 22px;
    display: grid;
    grid: auto / auto auto auto;
    gap: 15px;
    width: 175px;
    max-width: 100%;
}