@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

:root {
    --light-color: white;
    --highlight-color: rgb(100, 228, 228);
    --highlight-filter: invert(78%) sepia(91%) saturate(303%) hue-rotate(129deg) brightness(94%) contrast(89%); /* CSS filter generator: https://codepen.io/sosuke/pen/Pjoqqp */
    --accent-color: rgb(0, 125, 155);
    --accent-color-transparent: rgba(0, 125, 155, 0.35);
    --dark-color: rgb(36, 36, 36);
    --background-color: rgb(200, 235, 235);
    --shadow-color: rgba(0, 0, 0, 0.15);
    --default-app-width: 80vw;
    --default-app-max-width: 1350px;
}

* {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

::selection {
    background: var(--accent-color-transparent);
    filter: none;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    background-color: var(--background-color);
    font-size: 18px;
}

/* Set spacing between sections */
section {
    width: var(--default-app-width);
    max-width: var(--default-app-max-width);
    margin: 60px auto;
}

/* Style heading 1 elements */
section h1 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 30px;
}

/* Style heading 2 elements */
section h2 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
}

/* Style paragraphs */
section p {
    padding-bottom: 10px;
}

/* Remove spacing from last paragraph in an element */
section p:last-child {
    padding-bottom: 0px;
}

/* Style all anchor/link elements */
a {
    color: inherit;
    transition: all 0.2s linear 0s;
}

/* Style links when they are hovered over */
@media (hover: hover) and (pointer: fine) {
    section a:hover {
        color: var(--accent-color);
    }
}

/* Style grid containers */
.grid {
    width: 100%;
    display: grid;
    grid: auto / 1fr 1fr 1fr;
    gap: 20px;
}

.grid .expanded {
    grid-column-end: span 3;
}

/* Style grid containers on medium screens */
@media screen and (max-width: 1500px) {
    .grid {
        grid: auto / 1fr 1fr;
    }

    .grid .expanded {
        grid-column-end: span 2;
    }
}

/* Style grid containers on small screens */
@media screen and (max-width: 900px) {
    .grid {
        grid: auto / 1fr;
    }

    .grid .expanded {
        grid-column-end: span 1;
    }
}

/* Style buttons */
button {
    font-size: 18px;
    color: var(--light-color);
    background-color: var(--accent-color);
    border: none;
    outline: none;
    padding: 5px 10px;
    box-shadow: 0 4px 8px 0 var(--shadow-color);
    transition: all 0.2s ease 0s;
}

/* Style buttons when they are being hovered over */
@media (hover: hover) and (pointer: fine) {
    button:hover {
        background-color: var(--dark-color);
        cursor: pointer;
        box-shadow: 0 6px 12px 0 var(--shadow-color);
        transform: scale(1.05);
    }
}

/* Style buttons when they are being clicked on */
button:active {
    transform: scale(0.95);
}

/* Style default social buttons */
button.social-button {
    padding: 0px;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.2s ease 0s;
}

/* Style default social buttons when hovered over */
@media (hover: hover) and (pointer: fine) {
    button.social-button:hover {
        transform: scale(1.1);
    }
}

/* Style default social buttons being clicked on */
button.social-button:active {
    transform: scale(0.95);
}

/* Style LinkedIn button when hovered over */
@media (hover: hover) and (pointer: fine) {
    button.fa-linkedin:hover {
        background-color: #0A66C2;
        color: white;
    }
}

/* Style LinkedIn button being clicked on */
button.fa-linkedin:active {
    background-color: #0A66C2;
    color: white;
}

/* Style GitHub button when hovered over */
@media (hover: hover) and (pointer: fine) {
    button.fa-github:hover {
        background-color: rgb(228, 228, 228);
        color: #25292E;
    }
}

/* Style GitHub button being clicked on */
button.fa-github:active {
    background-color: rgb(228, 228, 228);
    color: #25292E;
}

/* Style email button when hovered over */
@media (hover: hover) and (pointer: fine) {
    button.fa-envelope:hover {
        background-color: gray;
        color: white;
    }
}

/* Style email button being clicked on */
button.fa-envelope:active {
    background-color: gray;
    color: white;
}

/* Style a container for social buttons */
.social-button-container {
    font-size: 22px;
    display: grid;
    grid: auto / auto auto auto;
    gap: 15px;
    width: 175px;
    max-width: 100%;
}