:root {
    --light-color: white;
    --highlight-color: rgb(100, 228, 228);
    --accent-color: rgb(0, 125, 155);
    --accent-color-transparent: rgba(0, 125, 155, 0.35);
    --dark-color: rgb(36, 36, 36);
    --background-color: rgb(200, 230, 230);
    --shadow-color: rgba(0, 0, 0, 0.15);
    --default-app-width: 80%;
    --default-app-max-width: 1250px;
}

* {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

::selection {
    background: var(--accent-color-transparent);
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    background-color: var(--background-color);
    color: var(--dark-color);
    font-size: 18px;
}

/* Move the header down to account for the fixed navbar */
header {
    margin-top: 85px;
}

/* Set spacing between sections */
section {
    width: var(--default-app-width);
    max-width: var(--default-app-max-width);
    margin: auto;
    padding-top: 90px;
}

section:last-child {
    padding-bottom: 90px;
}

/* Style heading 1 elements */
h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* Style heading 2 elements */
h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Style paragraphs */
p {
    margin-bottom: 12px;
}

/* Style all anchor/link elements */
a {
    color: inherit;
    position: relative;
    transition: all 0.2s ease 0s;
}

/* Style links when they are hovered over */
@media (hover: hover) and (pointer: fine) {
    a:hover {
        color: var(--accent-color);
    }
}

/* Style grid containers */
.grid-2, .grid-3 {
    width: 100%;
    display: grid; 
    gap: 20px;
}

.grid-2 {
    grid: auto / 1fr 1fr;
}

.grid-3 {
    grid: auto / 1fr 1fr 1fr;
}

.priority-grid :first-child {
    grid-column: 1 / -1;
}

/* Style grid containers on medium screens */
@media screen and (max-width: 1500px) {
    .grid-3 {
        grid: auto / 1fr 1fr;
    }
}

/* Style grid containers on small screens */
@media screen and (max-width: 900px) {
    .grid-2 {
        grid: auto / 1fr;
    }

    .grid-3 {
        grid: auto / 1fr;
    }
}

/* Style buttons */
button {
    font-size: 18px;
    color: var(--light-color);
    background-color: var(--accent-color);
    border: none;
    outline: none;
    padding: 5px 10px;
    box-shadow: 0 4px 8px 0 var(--shadow-color);
    transition: all 0.2s ease 0s;
}

/* Style buttons when they are being hovered over */
@media (hover: hover) and (pointer: fine) {
    button:hover {
        background-color: var(--dark-color);
        cursor: pointer;
        box-shadow: 0 5px 10px 0 var(--shadow-color);
        transform: scale(1.05);
    }
}

/* Style buttons when they are being clicked on */
button:active {
    transform: scale(0.95);
}

/* Fade animation */
@keyframes fade {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

/* Fade and grow animation */
@keyframes grow {
    from {
        opacity: 0%;
        transform: scale(0.7);
    }
    to {
        opacity: 100%;
        transform: none;
    }
}