@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
    --text-color: white;
    --highlight-color: rgb(120, 255, 255);
    --accent-color: rgb(0, 125, 155);
    --accent-color-transparent: rgba(0, 125, 155, 0.25);
    --dark-color: rgb(36, 36, 36);
    --background-color: lightcyan;
}

* {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

::selection {
    background: var(--accent-color-transparent);
    color: var(--accent-color);
    filter: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--background-color);
}