footer {
    padding: 15px 0px;
    bottom: 0;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
    font-size: 12px;
}