:root {
    --text-color: white;
    --highlight-color: rgb(120, 255, 255);
    --footer-color: rgb(36, 36, 36);
}

footer {
    margin: 0px;
    padding: 40px 40px;
    box-sizing: border-box;
    bottom: 0px;
    overflow: auto;
    position: absolute;
    width: 100%;
    background-color: var(--footer-color);
    color: var(--text-color);
    text-align: center;
}

footer * {
    margin: 0px;
}

footer div.container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 175px;
    max-width: 100%;
    padding: 30px 0px;
}

footer img {
    height: 40px;
    filter: invert();
    transition: all 0.2s linear 0s;
}

footer button {
    font-size: 22px;
    height: 45px;
    width: 45px;
    overflow: clip;
    word-wrap: break-word;
    background-color: var(--text-color);
    border: none;
    border-radius: 50%;
    transition: all 0.2s ease 0s;
}

footer button:active {
    background-color: var(--highlight-color);
    cursor: pointer;
}

@media(hover: hover) and (pointer: fine) {
    footer a img:hover {
        /* CSS filter generator: https://codepen.io/sosuke/pen/Pjoqqp */
        filter: invert(98%) sepia(55%) saturate(1682%) hue-rotate(147deg) brightness(98%) contrast(107%);
        transform: scale(1.15, 1.15);
    }

    footer button:hover {
        background-color: var(--highlight-color);
        cursor: pointer;
        transform: scale(1.15, 1.15);
    }
}

footer h1 {
    font-size: 26px;
    font-weight: normal;
    text-align: center;
}

footer p {
    font-size: 12px;
    text-align: center;
}