.header {
  --photo-size: 22rem;
  --photo-size-max: 75vw;
  --spacing: 2rem;

  width: 100%;
  position: relative;
}

.background {
  width: 100%;
  height: calc(var(--photo-size) / 2 + var(--spacing));
  max-height: calc(var(--photo-size-max) / 2 + var(--spacing));

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: var(--color-primary);
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  box-shadow: 0 0 3rem 0 var(--color-shadow) inset;
}

@media (min-width: 920px) {
  .background {
    width: 50%;
    height: 100%;
    max-height: 100%;
  }
}

.grid {
  display: grid;
  grid:
    "image"
    "info";
  gap: var(--spacing);
  padding: var(--spacing) 0 0 0;
  z-index: 1;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

@media (min-width: 920px) {
  .grid {
    grid: ". image info" auto / 1fr auto 1fr;
    padding: var(--spacing) 0;
  }
}

.profileImage {
  grid-area: image;
  width: var(--photo-size);
  max-width: var(--photo-size-max);
  height: unset;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0.2em 1em 0 var(--color-shadow);
}

.profileInfo {
  grid-area: info;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

@media (min-width: 920px) {
  .profileInfo {
    text-align: left;
    align-items: flex-start;
  }
}

.profileInfo h1,
.profileInfo p {
  margin: 0;
}
